<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Index</title>
</head>
<body>
    <h1>Notes</h1>
    <ul>
        <% for(let note of notes) {%>
            <li><b><%=note.text%></b> - <%=note.name%> <a href="/notes/<%=note.id%>">details</a> </li>
        <%}%>

    </ul>
    <a href="notes/new"><button>Add Note</button></a>

</body>
</html>