#anim1 {
  background-color: rgba(243, 52, 52, 0.664);
  border-radius: 1em;
  padding: 0.2em 0.5em;
  width: 875px;
}

#anim1 > div {
  height: 50px;
  width: 50px;

  background-color: rgba(115, 56, 170, 0.39);
  border-radius: 0.5em;
  margin: 1em;
}

#child1 {
  transition: transform 4s ease-in-out;
  transform: translateX(800px);
}
#child2 {
  transition: transform 3s ease-in-out;
  transform: translateX(800px);
}

#child3 {
  transition: transform 2s ease-in-out;
  transform: translateX(800px);
}

#child4 {
  transition: transform 1s ease-in-out;
  transform: translateX(800px);
}

#child5 {
  transition: transform 0.6s ease-in-out;
  transform: translateX(800px);
}
