
body {
    background-color: indianred;
}

h1 {
    color: lightcoral;
}


h2 {
    color: lightcoral;
}


body > p {
    color: lightcyan;
    background-color: lightgreen;
    padding: 1em;
    border-radius: 1em;
}